.navbar-custom {
  background-color: #0D3B66;
  padding: 1rem;
}

.navbar-custom .nav-link {
  color: #fff;
  margin-right: 15px;
  transition: 0.3s;
}

.navbar-custom .nav-link:hover {
  color: #a3d2ff;
}

.btn-logout {
  background-color: #f8f9fa;
  color: #0D3B66;
  border: 1px solid #0D3B66;
  font-weight: bold;
}

.btn-logout:hover {
  background-color: #0D3B66;
  color: #fff;
}

.main-container {
  background-color: #F7F9FC;
  min-height: 100vh;
  padding: 2rem;
  border-radius: 12px;
}

/* Estilos para los logos institucionales */
.logo-top {
  height: 60px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}